@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
  font-family: 'Roboto', sans-serif;
}

.redBg {
    background-color: red;
    border-radius: 5px;
    color: white;
    padding: 5px;
}
